$purple:#9403f4;
$green:#00ffa5;

body{
  color: white;
  background: linear-gradient(to left, #434343 0%, black 100%);

}
a{
  cursor: url("../icon/mouse2.ico"), default;
}
::-webkit-scrollbar{
  width: 0;
  background: transparent;
}
.scrollbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 0;
  opacity: 0;
  background: linear-gradient(to top, $green, $green );
  z-index: 110;
}
.clickScrollbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  background: rgba(226, 207, 207, 0);
  z-index: 110;
}
.menu-icon {
	position: relative;
	width: 50px;
	height: 50px;
  z-index: 10;
	cursor: pointer;
	.menu-icon__cheeckbox {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		cursor: pointer;
		z-index: 10;
		-webkit-touch-callout: none;
		position: absolute;
		opacity: 0;
	}
	div {
		margin: auto;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: 65px;
		height: 18px;
	}
	span {
		position: absolute;
		display: block;
		width: 100%;
		height: 4px;
		background-color: var(--bar-bg, #000);
		border-radius: 1px;
		transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

		&:first-of-type {
			top: 0;
      background-color:#00ffa5;
		}
		&:last-of-type {
			bottom: 0;
      background-color:$green;
		}
	}
	&.active,
	.menu-icon__cheeckbox:checked + div {
		span {
			&:first-of-type {
				transform: rotate(45deg);
        background-color:$purple;
				top: 5px;
			}
			&:last-of-type {
				transform: rotate(-45deg);
        background-color:$purple;
				bottom: 5px;
			}
		}
	}
	&.active:hover span:first-of-type,
	&.active:hover span:last-of-type,
	&:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
	&:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
		width: 22px;
	}
	&:hover {
		@media (min-width: 1024px) {
			span:first-of-type {
				width: 26px;
			}
			span:last-of-type {
				width: 12px;
			}
		}
	}
}

.modal-header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  position: absolute;
  top: 0;
  z-index: 1;
  .modal-header-content{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  nav{
    font-size: 6em;
    display: flex;
    flex-direction: column;
    a{
      color: antiquewhite;
    }
  }
}
.none{
  display: none;
  z-index: -1000;
  animation: fade-out 1s ease-out both;
}

.close{
  animation: fade-out 1s ease-out both;
  z-index: -1000;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.open{
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-top{
  header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    z-index: 1;
    .logo{
      margin-left: 20px;
    }
    .menu-social{
      margin-right: 20px;
      display: flex;
      justify-content: space-between;
      width: 100px;
      font-family: 'Times New Roman', Times, serif;
    }
  }
}

a.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, rgrgb(0, 0, 0)70%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
.active{
  color: rgb(248, 242, 242);
  text-shadow: 0 0 5px $green,
              0 0 25px $green,
              0 0 50px $green,
              0 0 100px $green;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

main{
  z-index: -1;
  display: flex;
  justify-content: center;
  height: 90vh;
  max-width: 100vw;
  .personal{
    margin-top: 50px;
    display: flex;
    margin-top: 100px;
    width: 100%;
    .personal-info{
      width: 100%;
      padding: 50px;
      color: #ffffff;
      .text-bottom{
        font-size: 1.5em;
        color: #9797a1;
      }
      p{
        margin-top: 20px;
        font-size: 2.3em;
      }
      .project{
        font-size: 1.3em;
        margin-top: 160px;
        color: #9797a1;
      }
    }
    h1{
      font-size: 3.2em;
      .my-name{
        color: $purple;
      }
    }
  }
}
.glow-on-hover {
  margin-top: 30px;
  width: 220px;
  height: 50px;
  font-size: 1.5em;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  &:before {
    content: '';
    background: linear-gradient(45deg, $purple, $green, $purple, $green,$purple, $green,$purple, $green,);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  &:active {
    color: #000
  }
  &:active:after {
    background: transparent;
  }
  &:hover:before {
    opacity: 1;
  }
  
  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.personal-info-right{
  width: 40%;
  font-family: "Inter", sans-serif;
  .content-personal-info-right{
    color: #000;
    height: 500px;
    width: 300px;
    position: fixed;
    bottom: 10%;
    font-family: 'Roboto', sans-serif;
    .design{
      color: #fff;
      font-family: 'Roboto', sans-serif;
      text-shadow: 3px 3px 20px $green,
          -2px 1px 30px $purple;
    }
    .moindre{
      margin: 20px;
      line-height:27px;
      margin-bottom: 50px;
      margin-top: 50px;
    }
    
    .detail{
      color: #333;
      font-size: 1.3em;
      -webkit-text-stroke: 1px #282828;
      text-shadow: 0px 4px 4px #282828;
    }
    .text-phone{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      font-size: 3em;
      text-align: center;
      font-family: 'Roboto', sans-serif;
    }
  }
}

@keyframes pisca{
  0% {
    background-color: #333;
    box-shadow: 0px 0px 0px 0px #333;
  }
  50%{
    background-color: white;
    box-shadow: 0px 0px 5px 0px #fff;
  }
  100%{
    background-color: #333;
    box-shadow: 0px 0px 0px 0px #333;
  }
}

.notification.on .badge{
  height: 8px;
  width: 8px;
  display: table;
  position: absolute;
  float: left;
  background-color: #333;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 25px;
  box-shadow: none;
  animation: pisca 1s infinite;
}

.screen{
  height: 450px;
  width: 300px;
  background-color: #ffffff;
  background-image: linear-gradient(329deg, #ffffff 0%, #9403f4 100%);
  border: solid 2px #222;
  margin-top: 20px;
  margin-bottom: 25px;
  object-fit: cover;
  border-radius: 5px;
}

.smartphone{
  display: table;
  margin: 0 auto;
  padding: 10px;
  background-color: #333;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  border: solid 1px #222;
  .cam{
    border-radius: 15px;
    height: 15px;
    width: 15px;
    display: table;
    background-color: #444;
    border: solid 1px #222;
    margin: 0 auto;
    margin-top: 15px;
    
  }
  
  button{
    border-radius: 3px;
    padding-top: 5px;
    background: rgb(39, 36, 36);
    color: white;
    border: none; 
    position: absolute;
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 50%;
    top: 97%;
    &:hover{
      cursor: pointer;
    }
  }
}

.btn-up-down{
  height: 100px;
  float: left;
  position: absolute;
  margin-left: -17px;
  margin-top: 90px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.btn{
  display: table;
  display: none;
  width: 8px;
  background-color: #333;
}


.controls, .header-phone{
  height: 30px;
  display: table;
  width: 100%;
  
}

.emoji{
  height: 40px;
  width: 40px;
}

.section-left{
  width: 65%;
  padding: 50px;
  .design{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-shadow: 3px 3px 20px $green,
        -2px 1px 30px $purple;
  }
  h2{
    font-size: 4em;
    color: $green;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3em;
    .emoji-second{
      height: 60px;
    }
  }
  p{
    font-size: 3em;
    margin-top: 30px;
  }
}
.emoji-third{
  height: 70px;
}

.panel{
  height: 100vh;
  width: 100%;
  display: flex;
  .project-left{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: space-between;
    color: white;
    h4{
      margin-top: 20px;
    }
    .controls-screen{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      .button-tabs{
        box-sizing: border-box;
        appearance: none;
        background-color: transparent;
        border: 2px solid $green;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #fff;
        box-shadow: 0 0 40px 40px black inset, 0 0 0 0 black;
        transition: all 150ms ease-in-out;
        &:hover,
        &:focus {
          color: #fff;
          outline: 0;
        }
        &:hover {
          box-shadow: 0 0 10px 0 $green inset, 0 0 10px 4px $green;
        }
      }
    }
    p{
      margin-bottom: 150px;
      font-size: 1.3em;
      color: #9797a1;
      text-align: center;
      .design{
        color: #fff;
        font-family: 'Roboto', sans-serif;
        text-shadow: 3px 3px 10px $green,
            -2px 1px 30px $purple;
      }
    }
  }
  .project-right{
    width: 70%;
    padding: 20px;
    padding-bottom: 150px;
    
  }
}
h4{
  font-size: 4em;
}
.ipad {
	height: 100%;
  background: #000;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
}

.a{
  background: linear-gradient(to left, #434343 0%, black 100%);
  z-index: 100;
}
.one{
  .panel-left{
    width: 40%;
    height: 100%;
    h5{
      font-size: 4em;
      text-align: center;
      margin-top: 40px;
    }
    .subcontent{
      padding: 20px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 65%;
      h6{
        font-size: 2em;
        background: linear-gradient(to top right, #9403F4 0%, #E0E5E0 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      p{
        font-size: 1.2em;
        margin-left: 10px;
        margin-top: 15px;
        color: #E0E5E0;
      }
    }
  }
  .panel-right{
    width: 60%;
    height: 100%;
    padding: 20px;
    padding-bottom: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(43deg, #9403f4 0%, #e0e5e0 100%);
    .icon-panel{
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  

}
